BasedOnStyle: LLVM
SortIncludes: false
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 160
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentWidth: 2
PointerAlignment: Left
QualifierAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInSquareBrackets: true
Cpp11BracedListStyle: true
SpacesInContainerLiterals: true
BreakBeforeBraces: Allman
FixNamespaceComments: false
NamespaceIndentation: All # Ensures all namespace contents are indented.
ReflowComments: true